<div class="content">
  <div class="content-head">
    <div class="content-title">{{ title }}</div>
    <div class="content-subtitle">{{ subtitle }}</div>
  </div>
  <div class="content-block">
    <div class="content-left">
      <div class="content-top">
        <div class="box-text-left">Left</div>
        <div class="box-text-right">Right</div>
      </div>
      <div class="content-bottom">
        <div class="content-box" style="width: 48.8%">
          <div class="box-text-left">Left</div>
          <div class="box-text-right">Right</div>
        </div>
        <div class="content-box" style="width: 48.8%">
          <div class="box-text-left">Left</div>
          <div class="box-text-right">Right</div>
        </div>
      </div>
    </div>
    <div class="content-right">
      <div class="content-box">
        <div class="box-text-left">Left</div>
        <div class="box-text-right">Right</div>
      </div>
      <div class="content-box">
        <div class="box-text-left">Left</div>
        <div class="box-text-right">Right</div>
      </div>
      <div
        class="content-box"
        style="
          background-color: #953e46;
          color: #f4e3cf;
          border: 1px solid #f4e3cf;
        "
      >
        <div class="box-text-left">Left</div>
        <div class="box-text-right">Right</div>
      </div>
    </div>
  </div>
</div>
