.content {
  margin-top: 1em;
}

.content-head {
  width: 65.2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0 0.5em 0;
}

.content-title {
  flex: 1;
  font-size: 1.8em;
}

.content-subtitle {
  flex: 1;
  font-size: 14px;
  text-align: right;
}

.content-block {
  display: flex;
  justify-content: space-between;
}

.content-left {
  width: 65.2%;
  height: 580px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.content-right {
  width: 33%;
  height: 580px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.content-box {
  height: 184.3px;
  background-color: #f4e3cf;
  position: relative;
  color: #953e46;
  font-size: 13px;
  border: 1px solid transparent;
}

.box-text-left {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.box-text-right {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.content-top {
  color: #953e46;
  height: 381px;
  background-color: #f4e3cf;
  position: relative;
  border: 1px solid transparent;
}

.content-bottom {
  display: flex;
  justify-content: space-between;
}
