<div class="channels">
  <div class="sidebar-head">
    <div class="title">Channels</div>
    <div class="subtitle">Browse all channels</div>
  </div>
  <div class="channel-list">
    <div class="channel" *ngFor="let channel of channels">
      <div class="channel-text">{{ channel }}</div>
    </div>
    <!-- <div class="channel"><div class="channel-text">Dribbble</div></div>
    <div class="channel"><div class="channel-text">Microsoft</div></div>
    <div class="channel"><div class="channel-text">Behance</div></div>
    <div class="channel">
      <div class="channel-text">Weather Channel</div>
    </div>
    <div class="channel"><div class="channel-text">Gurus</div></div>
    <div class="channel"><div class="channel-text">iMedia</div></div>
    <div class="channel"><div class="channel-text">Creativeye</div></div>
    <div class="channel">
      <div class="channel-text">Khan Studios</div>
    </div>
    <div class="channel"><div class="channel-text">Yahoo</div></div> -->
  </div>
</div>
