<div class="content">
  <div class="content-head">
    <div class="content-title">{{ title }}</div>
    <div class="content-subtitle">{{ subtitle }}</div>
  </div>
  <div class="content-block">
    <div class="content-left">
      <div class="content-top">
        <div class="box-text-left"><h3>How to improve your skills</h3></div>
        <div class="box-text-left">Arifudin</div>
        <div class="box-text-right">2000 views</div>
      </div>
      <div class="content-bottom">
        <div class="content-box" style="width: 48.8%">
          <div class="box-text-left">Jhon Stainior</div>
          <div class="box-text-right">1000 views</div>
        </div>
        <div class="content-box" style="width: 48.8%">
          <div class="box-text-left">Jhon Doe</div>
          <div class="box-text-right">100 views</div>
        </div>
      </div>
    </div>
    <div class="content-right">
      <div class="content-box">
        <div class="box-text-left">Michael Keliph</div>
        <div class="box-text-right">300 views</div>
      </div>
      <div class="content-box">
        <div class="box-text-left">Ahmed Yasin</div>
        <div class="box-text-right">200 views</div>
      </div>
      <button class="content-box" style=" background-color: #953e46; color: #f4e3cf; border: 1px solid #f4e3cf;">
        <span class="material-icons">
          file_upload
          </span>
          <p><strong>Upload Your Own Video</strong></p>
      </button>
    </div>
  </div>
</div>

<div class="content">
  <div class="content-head">
    <div class="content-title">{{ peop }}</div>
    <div class="content-subtitle">{{ sub }}</div>
  </div>
  <div class="content-block">
    <div class="content-left">
      <div class="content-top">
        <div class="box-text-left"><h3>Arifudin</h3></div>
        <div class="box-text-left">User Inteface Designer</div>
        <div class="box-text-right">2000 views</div>
      </div>
      <div class="content-bottom">
        <div class="content-box" style="width: 48.8%">
          <div class="box-text-left">Jhon</div>
        </div>
        <div class="content-box" style="width: 48.8%">
          <div class="box-text-left">Doe</div>
        </div>
      </div>
    </div>
    <div class="content-right">
      <div class="content-box">
        <div class="box-text-left">Keliph</div>
      </div>
      <div class="content-box">
        <div class="box-text-left">Ahmed</div>
      </div>
      <button class="content-box" style=" background-color: #953e46; color: #f4e3cf; border: 1px solid #f4e3cf;">
        <span class="material-icons">
          adjust
        </span>
        <p><strong>Show Your Work</strong></p>
      </button>
    </div>
  </div>
</div>

<div class="content">
  <div class="content-head">
    <div class="content-title">{{ do }}</div>
    <div class="content-subtitle">{{ ti }}</div>
  </div>
  <div class="content-block">
    <div class="content-left">
      <div class="content-aja">
        <div class="box-text"><h3>Web Developer</h3></div>
        <div class="box-text">By Arifudin</div>
        <div class="box-text-left">2000 views</div>
      </div>
      <div class="content-bottom">
        <div class="content-box" style="width: 48.8%">
          <div class="box-text-left"><h4>2019 Programmer</h4></div>
          <div class="box-text-left">1000 views</div>
        </div>
        <div class="content-box" style="width: 48.8%">
          <div class="box-text-left"><h4>2021 Programmer</h4></div>
          <div class="box-text-left">3000 views</div>
        </div>
      </div>
    </div>
    <div class="content-right">
      <div class="content-box">
        <div class="box-text-left"><h4>Mean Stack</h4></div>
          <div class="box-text-left">3000 views</div>
      </div>
      <div class="content-box">
        <div class="box-text-left"><h4>How to Become Expert ?</h4></div>
          <div class="box-text-left">3000 views</div>
      </div>
      <button type="file" class="content-box" style=" background-color: #953e46; color: #f4e3cf; border: 1px solid #f4e3cf;">
        <span class="material-icons">
          add_circle_outline
          </span>
          <p><strong>Share Your Document</strong></p>
      </button>
    </div>
  </div>
</div>
